{% extends 'base.html.twig' %}

{% block title %}Choisir un magasin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Choisir un magasin</h1>

        {{ form_start(choiseStoreForm) }}
        {{ form_end(choiseStoreForm) }}